 # Aula 4 - Estruturas de Controle

In [1]:
# Estruturas de dados - Listas
a=[2,3,4,5,6,7] #lista numérica

b=['seja', 'um', 'cientista', 'de', 'dados'] #lista de strings

c=['seja', 1, 'cientista', 10, [10,'dua',32,'dfa']] #lista de strings + números

#posição da lista
#a=[2,3,4,5,6,7]  -> Valores
#a=[0,1,2,3,4,5]  -> Posições

In [2]:
# Como adicionar um novo elemento na lista
c.append(50) # coloca o elemento no final da lista
c.insert(0,40) #coloca o numero 40 na posição 0

#Como medir o tamanho da lista
len(c)

# Criar lista vazia
d=[]


# Estrutura de Controle - Condicional

In [3]:
# Condicionais (AND &)
# Bedrooms / Floors
# True / True -> Resultado
# True / False -> Erro
# False / True -> Erro
# False / False -> Erro


# Condicionais (OR |)
# Bedrooms / Floors
# True / True -> Resultado
# True / False -> Resultado
# False / True -> Resultado
# False / False -> Erro

In [4]:
import pandas as pd

In [33]:
ds=pd.read_csv('kc_house_data.csv')

In [34]:
ds['nivel']='1'  # sem o uso do for
ds.loc[(ds.loc[:,'price']>0) & (ds.loc[:,'price']<321950),'nivel']='nivel_0'
ds.loc[(ds.loc[:,'price']>321950) & (ds.loc[:,'price']<450000),'nivel']='nivel_1'
ds.loc[(ds.loc[:,'price']>450000) & (ds.loc[:,'price']<650000),'nivel']='nivel_2'
ds.loc[(ds.loc[:,'price']>650000),'nivel']='nivel_2'

In [38]:
for i in range(len(ds)):
    if (ds.loc[i,'price']>0) & (ds.loc[i,'price']<321950):
        ds.loc[i,'nivel']='nivel_0'
    elif (ds.loc[i,'price']>=321950) & (ds.loc[i,'price']<450000):
        ds.loc[i,'nivel']='nivel_1'
    elif (ds.loc[i,'price']>=450000) & (ds.loc[i,'price']<675000):
        ds.loc[i,'nivel']='nivel_2'
    else:
         ds.loc[i,'nivel']='nivel_3'

In [39]:
ds.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,nivel
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,nivel_0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,nivel_2
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,nivel_0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,nivel_2
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,nivel_2

Novas perguntas de negócio

1. Qual a quantidade de imóveis por nível?

    &nbsp;
    -Nível 0: Preço entre 0.00 e 321.950 
    
    &nbsp;
    -Nível 1: Preço entre 321.950 e 450.000
    
    &nbsp;
    -Nível 2: Preço entre 450.000 e 645.
    
    &nbsp;
    -Nível 3: Preço acima 645.000

2. Adicione as seguintes informaçoes aos imóveis:

     &nbsp;
    -Nome da rua

     &nbsp;
    -Numero do imóvel

     &nbsp;
    -Nome do bairro

     &nbsp;
    -Nome do cidade

     &nbsp;
    -Nome do Estado

3. Adicione o nível do imóvel no mapa com uma cor.

4. Adicione o preço do imóvel como o tamanho do ponto no mapa.

5. Adicione opções de filtros para eu fazer minhas próprias análises:
    1-Eu quero escolher visualizar imóveis com vista para água ou não.
    2- Escolher filtrar os imóveis  até um certo valor de preço.

6. Adicionar opções de filtros no último dashbard enviado:
    1- Eu quero visualizar somente valores a partir de uma data dispoível para comprar.